<h2>{{post.title}}</h2>

<!-- <dl class="row">
  <dt class="col col-6">asdf</dt>
  <dd class="col col-6">asdf</dd>

  <dt class="col">asdf</dt>
  <dd class="col">asdf</dd>
</dl> -->

<div class="alert alert-primary" role="alert">
	{{post.intro}}
</div>

<div class="card mt-3" *ngFor="let section of post.sections">
	<div class="card-body">
		<h5 class="card-title">{{section.title}}</h5>
		<p class="card-text" [innerHTML]="section.description"></p>
	</div>
</div>

<!-- <div class="alert alert-primary" role="alert">
	{{post.tags}}
</div> -->